#root {
  --white: white;
  --light-gray: #f0f0f0;
  --dark-gray: #6c6c6c;
  --black: black;
  --orange: orange;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display, #answer {
  width: 100%;
  max-width: 250px; /* To limit the width within the container */
}

#display {
  font-size: 25px;
  height: 50px;
  color: black;
  background-color: lightgray;
  text-align: right;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
}

#answer {
  height: 50px;
  font-size: 30px;
  background-color: white;
  color: black;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px; /* Rounded bottom corners */
}

#calculator {
  display: grid;
  gap: 5px;
  grid-template-areas:
      "clear negative percentage divide"
      "seven eight nine multiply"
      "four five six subtract"
      "one two three add"
      "zero zero decimal equals";
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 250px; /* Limit the calculator width */
  margin: auto;
  margin-top: 20px;
  background-color: hwb(101 22% 71%);
  padding: 30px;
  border-radius: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

button.light-gray {
  background-color: #e0e0e0;
}

button.dark-gray {
  background-color: #505050;
  color: white;
}

button.orange {
  background-color: #f1a33c;
  color: white;
}

button:active {
  transform: scale(0.95);
}

#equals {
  grid-column: span 2;
}